*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: #EFEFEF;
    padding: 15px 40px;
    min-width: 96vw;
    margin-top: 30px
}

.header {
    font-weight: bold;
    font-size: 2.1rem;
    text-align: center;
}

.window-header{
    font-weight: bold;
    font-size: 1.5rem;
}
#window-header{
    padding: 0;
}

.titulo {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 15px;
}

.radio{
    display: none;
}

.label-radio{
    cursor: pointer;
    margin: 0;
    padding: 10px 10px;
}

.label-radio:not(:last-of-type){
    border-right: 2px solid rgba(0,0,0,0.5);
}

.radio:checked + .label-radio {
    background-color: #ff8f35;
    color: #fff;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.input {
    border: none;
    outline: none;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    caret-color: transparent;
}

.input:focus{
    border-bottom: 2px solid #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-group {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.linha-botao{
    margin-top: 60px;
}

.botao {
    font-size: 1.1rem;
    font-weight: bold;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
}

#botao-limpar {
    border: 1px solid #000;
}

#botao-limpar:active {
    position:relative;
    top:2px;
}

.botao-simular {
    background-color: #727272;
    border: none;
    
}

.botao-simular:active {
    background-color: #ff8f35;
    position:relative;
    top:2px;
}

#resultado{
    display: none;
}

.card{
    background-color: #f6f6f6;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.card-body.text-center {
    padding-top: 2px 0, 0, 0;
}

.card-title{
    font-size: 0.9rem;
    font-weight: bold;
}

div.card-body.text-center{
    padding: 0;
}

.resultado-valor{
    color: green;
}

